// body{
//    overflow-y:scroll ;
// }
#root{
  overflow-y:scroll ;
  // overflow: hidden;
}
.container {
  width: 100%;
  @include flexbox();
  background:#fff;
  flex-direction: column;
  header{//头部
    height:.5rem;
    position: relative;
    background: $base-color;
    text-align:center;
    @include flexbox();
    @include justify-content();
    @include align-items();
    color: #fff;
    #ylCity{
      position: absolute;
      left: 0;
      top: 0;
      color: #fff;
      padding: 0 .35rem 0 .14rem;
      font-weight: normal;
      top: .14rem;
      background: url(../images/mini-icon.png) no-repeat right top;
      display: block;
      padding-right: 35px;
      line-height: 24px;
      background-size: 30px auto;
    }
    h1{
      font-size: .18rem;
    } 
  }
  #js_search{//搜索框
    width: 100%;
    height: .35rem;
    padding: 7px .1rem 9px;
    background-color: #fff;
    position: relative;
    .sear-all{
      padding-right: .1rem;
      height: 30px;
      line-height: .26rem;
      overflow: hidden;
      border: 1px solid #ddd;
      background: #f5f5f5;
      position: relative;
      .sear-inp{
        width: 2.82rem;
        height: 30px;
        border: none;
        padding-left: .1rem;
        padding-right: .5rem;
        font-size:.16rem;
        background-color: #f5f5f5;
      }
      .fr{
        width: .48rem;
        height: 20px;
        background: url(../images/mini-icon.png) no-repeat -3px -3278px;
        background-size: 50px auto;
        float: right;
        position: relative;
        top: -26px;
      }
    }
  }
  
  // ----nav
  @mixin nav-a($arguments:0 0){
      background: url(../images/index-icon.png) no-repeat nth($arguments,1) nth($arguments,2); 
  }
  .index-nav{
    height: 1.08rem;
    width: 100%;
    background: #f0f0f0;
    ul{
      @include flexbox();
      // @include justify-content();
      li{
        @include flex(1);
        height: .64rem;
        width: 20%;
        a{
          display: block;
          overflow: hidden;
          margin: 6px auto 0px;
          padding-top: .6rem;
          text-align: center;
          color: #666;
          @include nav-a(-14px -5px);
          background-size: 470px auto;
        }
        &:nth-of-type(2) a{
          @include nav-a(-87px -5px);
          background-size: 470px auto;
        }
        &:nth-of-type(3) a{
          @include nav-a(-14px -200px);
          background-size: 470px auto;
        }
        &:nth-of-type(4) a{
          @include nav-a(-160px -5px);
          background-size: 470px auto;
        }
        &:nth-of-type(5) a{
          @include nav-a(-233px -5px);
          background-size: 470px auto;
        }
      }

    }
  }
  // -----pic1
  .pic1{
    width: 100%;
    height: 1.45rem;
    padding: .1rem;
    img{
      width: 100%;
      height: 100%;
    }
  }
  //-------pic2
  .pic2{
    width: 100%;
    height: .8rem;
    @include flexbox();
    img{
      width: 50%;
    }
  }
  // ------index-pronav
  .index-pronav{
    height: .54rem;
    width: 100%;
    ul{
      width: 100%;
      height: 100%;
      @include flexbox();
      li{
        width: 50%;
        a{
          display: block;
          border-radius: 3.6px;
          padding: .05rem .3rem;
          text-align: center;
          color: #000;
          margin: .096rem .12rem .12rem;        
        }
        .onactive{
            background: #eb414a;
            color:#fff;
          }
      }
    }
  }
 

  // -------foot-icon
  .foot-icon{
    width: 100%;
    // height: 2.16rem;
    background: #f0f0f0;

    ul{
      width: 100%;
      height: 100%;
      @include flexbox();
      flex-wrap: wrap;
      li{
        width: 25%;
        height: 50%;
        a{
          width: .8rem;
          height: .96rem;
          display: block;
          overflow: hidden;
          margin: .6px auto 0px;
          padding-top: .67rem;
          text-align: center;
          color: #666;
          background-image: url(../images/index-icon.png);
          background-repeat: no-repeat;
          background-size: 4.7rem auto;
          background-position: -302px -5px;
        }
        &:nth-child(2) a{background-position: -375px -5px;}
        &:nth-child(3) a{background-position: -10px -105px;}
        &:nth-child(4) a{background-position: -83px -105px;}
        &:nth-child(5) a{background-position: -156px -105px;}
        &:nth-child(6) a{background-position: -229px -105px;}
        &:nth-child(7) a{background-position: -302px -105px;}
        &:nth-child(8) a{background-position: -375px -105px;}           
      }
    }
  }
  

  // -------foot
 
}

  // --------fix图标
  #Navigation{
    .index-le{
      position: fixed;
      right: 20px;
      bottom: 60px;
      z-index: 4998;
      width: 40px;
      a{
        z-index: 5000;
        display: block;
        width: 50px;
        height: 50px;
        bottom: 0;
        background-size: 50px auto;
        background: url(../images/icon-xnkf.png) no-repeat 0px -1609px;
      }
    }
    .index_detail{
      position:fixed;
      right:.15rem;
      bottom:.66rem;
      z-index:4990;
      width:3.0rem;
      height:.4rem;
      background-color:#323232;
      opacity:0.9;
      display: block;
      overflow: hidden;
      line-height: 40px;
      border-radius: 25px;
      padding: 0 .02rem 0 .01rem;
         a{
          
          color: #666;
          width: .4rem;
          height: .4rem;
          display:inline-block;
          text-align: center;
          font-size: .13rem;
          background:url('https://s2m.228.cn/resources/images/icon-xnkf.png') no-repeat;
          background-size: 26px auto;
        }

        .index_detail1{
          background-position:.11rem .06rem;
        }
        .index_detail2{
          background-position:.11rem -1.34rem;
        }
        .index_detail3{
          background-position:.11rem -2.72rem;
        }
        .index_detail4{
          background-position:.11rem -4.11rem;
        }
        .index_detail5{
          background-position:.11rem -5.51rem;
        }
        .index_detail6{
          background-position:.11rem -6.90rem;
        }
      
    }
  }